.teams-main{
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-main-container{
    background: rgba(255, 255, 255, 0.548);
    padding: 50px;
    height:fit-content;
    border-radius: 10px;
    margin: 100px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .teams-main-container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  .teams-heading{
    text-align: center;
    color:rgb(173, 0, 136)
  }

  .buttons{
     margin-top: 10px;
      display: flex;
      gap: 10px;
  }

  .generated-teams{
      display: flex;
  }

  .generated-teams-inner{
    /* width: 100%; */
    margin: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .instruction-heading{
    font-size: 20px;
    color:rgb(173, 0, 136)
  }

  /* Mobile response */

@media only screen and (max-width: 768px) {
  .buttons{
    flex-direction: column;
    margin: 10px 10px 0 10px;
  }

  .teams-main-container{
    padding: 20px 10px; 
    width: 90vw;  
  }

  h2{
    font-size: 1rem;
  }

  .generated-teams{
    /* flex-wrap: wrap; */
  }

  
}