.input{
    display: flex;
}
.close-container{
    position: relative;
}

.close {
    width: 22px;
    height: 22px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #333;
  }
  .close:hover:before, .close:hover:after {
    background-color: rgb(255, 0, 0);
    
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }